<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595016246866-a3orpcq78h8l315698tm0e4bqji9fosj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595016246866-a3orpcq78h8l315698tm0e4bqji9fosj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>595016246866-aapa0bp38d5fh5t23fh4n14tghf4hu6a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFEmSbV0YPk_xN3U7jJp1qeNUOBFN0fao</string>
	<key>GCM_SENDER_ID</key>
	<string>595016246866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.splitRex</string>
	<key>PROJECT_ID</key>
	<string>split-rex</string>
	<key>STORAGE_BUCKET</key>
	<string>split-rex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595016246866:ios:f3d3daf13f5039c31ea18b</string>
</dict>
</plist>